section#navbar-top {background-color:#ffc107;margin:0;padding:6px 20px 4px 14px;}
section#navbar-top nav {text-align:center;margin:0;padding:14px 0 0 0;}
section#navbar-top nav a.nav-link {color:#000000; border-bottom:4px solid transparent; margin-left:16px; padding-left:0;padding-right:0;padding-bottom:0;}
section#navbar-top nav a.nav-link.active {color:#000000;border-bottom-color:#000000;font-weight:700;}
section#navbar-top nav a.nav-link:hover, a.nav-link:focus {color:#000000; border-bottom-color:#000000;}
section#navbar-top nav a.btn {color:#ffffff;background-color:#0d6efd;border-radius:15px;}
section#navbar-top nav a.btn.active {color:#ffffff;background-color:#000000;}
/*section#navbar-top nav a.btn:hover {color:#ffffff;background-color:#000000;}*/
@media (max-width:575.98px) { section#navbar-top nav a.nav-link {font-size:20px;font-weight:300;} section#navbar-top nav a.btn {font-size:20px;font-weight:300;} }
@media (min-width:576px) { section#navbar-top nav a.nav-link {font-size:22px;font-weight:400;} section#navbar-top nav a.btn {font-size:22px;font-weight:400;} }
@media (min-width:768px) { section#navbar-top nav a.nav-link {font-size:27px;} section#navbar-top nav a.btn {font-size:27px;} }

section#navbar-bottom {color:#dee2e6;background-color:#000000;font-weight:200;margin:0;padding:54px 0 60px 0;}
section#navbar-bottom nav {text-align:center;margin:0;padding:0;}
section#navbar-bottom nav a.nav-link {color:#dee2e6;border-bottom:2px solid transparent;margin-left:16px;padding:0;}
section#navbar-bottom nav a.nav-link:hover, a.nav-link:focus {border-bottom-color:#dee2e6;}
section#navbar-bottom nav a.nav-link.active {border-bottom-color:#dee2e6;}
@media (max-width:575.98px) { section#navbar-bottom nav {font-size:22px;} }
@media (min-width:576px) { section#navbar-bottom nav {font-size:34px;} }
@media (min-width:768px) { section#navbar-bottom nav {font-size:23px;} }
@media (min-width:992px) { section#navbar-bottom nav {font-size:26px;} }
@media (min-width:1200px) { section#navbar-bottom nav {font-size:32px;} }
@media (min-width:1400px) { section#navbar-bottom nav {font-size:38px;} }

section#prefooter {color:#000000;background-color:#ffc107;text-align:center;padding:38px 0 70px 0;}
@media (max-width:575.98px) { section#prefooter h1 {font-size:32px;} section#prefooter h2 {font-size:22px;} }
@media (min-width:576px) { section#prefooter h1 {font-size:42px;} section#prefooter h2 {font-size:30px;} }
@media (min-width:768px) { section#prefooter h1 {font-size:54px;} section#prefooter h2 {font-size:38px;} }
@media (min-width:992px) { section#prefooter h1 {font-size:70px;} section#prefooter h2 {font-size:52px;} }
@media (min-width:1200px) { section#prefooter h1 {font-size:80px;} section#prefooter h2 {font-size:60px;} }
@media (min-width:1400px) { section#prefooter h1 {font-size:90px;} }

a#cta-btn{border-radius:15px;font-weight:800;margin-top:50px;}
a#cta-box-btn{border-radius:15px;font-weight:800;margin-top:50px;}
/*a#cta-btn:hover{background-color:#0d6efd;}*/
a#cta-box:hover,a#cta-box-btn:hover{color:#0d6efd;background-color:#f8f9fa;}
@media (max-width:575.98px) { a#cta-btn,a#cta-box-btn{font-size:32px;}}
@media (min-width:576px) { a#cta-btn,a#cta-box-btn{font-size:36px;} }
@media (min-width:768px) { a#cta-btn,a#cta-box-btn{font-size:44px;} }
@media (min-width:992px) { a#cta-btn,a#cta-box-btn{font-size:50px;} }
@media (min-width:1200px) { a#cta-btn,a#cta-box-btn{font-size:56px;} }
