section#navbar-top {color:#ffffff; background-color:#38b9b9; margin-top:18px; margin-bottom:14px; padding:0 10px 0 14px;}
section#navbar-top a#logo.nav-link {color:#ffffff; border-bottom:4px solid transparent; text-align:center; margin:0; padding-top:6px;}
section#navbar-top a#logo.nav-link.active {color:#ffffff; border-bottom-color:transparent;}
section#navbar-top a#logo.nav-link:hover {color:#000000; border-bottom-color:transparent;}

section#navbar-top nav {margin:0; padding:2px 0 0 0;}
section#navbar-top nav a.nav-link {color:#ffffff; border-bottom:4px solid transparent; margin-left:16px;}
section#navbar-top nav a.nav-link.active {color:#000000; border-bottom-color:#000000; font-weight:700;}
section#navbar-top nav a.nav-link:hover, a.nav-link:focus {color:#000000; border-bottom-color:#000000;}
@media (max-width:575.98px) { section#navbar-top a#logo.nav-link {font-size:21px; font-weight:500;} }
@media (min-width:576px) { section#navbar-top a#logo.nav-link {font-size:29px; font-weight:700;} }
@media (max-width:575.98px) { section#navbar-top nav {font-size:18px; font-weight:300;} }
@media (min-width:576px) { section#navbar-top nav {font-size:25px; font-weight:400;} }
@media (min-width:768px) { section#navbar-top nav {font-size:27px; font-weight:400;} }

div#navbar-bottom {color:#ffffff; background-color:#000000; font-weight:200; margin:0; padding:34px 0 60px 0;}
div#navbar-bottom nav {margin:0; padding:0;}
div#navbar-bottom nav a.nav-link {color:#ffffff; border-bottom:2px solid transparent; margin-left:16px;}
div#navbar-bottom nav a.nav-link:hover, a.nav-link:focus {border-bottom-color:#ffffff;}
div#navbar-bottom nav a.nav-link.active {border-bottom-color:#ffffff;}
@media (max-width:575.98px) { div#navbar-bottom nav {font-size:22px;} }
@media (min-width:576px) { div#navbar-bottom nav {font-size:34px;} }
@media (min-width:768px) { div#navbar-bottom nav {font-size:23px;} }
@media (min-width:992px) { div#navbar-bottom nav {font-size:26px;} }
@media (min-width:1200px) { div#navbar-bottom nav {font-size:32px;} }
@media (min-width:1400px) { div#navbar-bottom nav {font-size:38px;} }

div#prefooter {background-color:#ffffff; text-align:center; padding:50px 0;}
@media (max-width:575.98px) { div#prefooter h1 {font-size:22px;} div#prefooter h2 {font-size:26px;} div#prefooter div h3 {font-size:23px;} }
@media (min-width:576px) { div#prefooter h1 {font-size:30px;} div#prefooter h2 {font-size:32px;} div#prefooter div h3 {font-size:26px;} }
@media (min-width:768px) { div#prefooter h1 {font-size:38px;} div#prefooter h2 {font-size:42px;} div#prefooter div h3 {font-size:33px;} }
@media (min-width:992px) { div#prefooter h1 {font-size:50px;} div#prefooter h2 {font-size:56px;} div#prefooter div h3 {font-size:40px;} }
@media (min-width:1200px) { div#prefooter h1 {font-size:60px;} div#prefooter div h3 {font-size:50px;} }
@media (min-width:1400px) { div#prefooter h1 {font-size:70px;} }

@media (max-width:575.98px) { main{margin:0 1.0%;} }
@media (min-width:576px) { main{margin:0 1.4%;} }
@media (min-width:768px) { main{margin:0 2%;} }
@media (min-width:992px) { main{margin:0 4%;} }
@media (min-width:1200px) { main{margin:0 6%;} }
@media (min-width:1400px) { main{margin:0 8%;} }
