section#navbar-top {background-color:#ffc107;margin:0;padding:6px 18px 4px 14px;}

section#navbar-top nav {margin:0;padding:14px 0 0 0;}
section#navbar-top nav a.nav-link {color:#000000; border-bottom:4px solid transparent; margin-left:16px; padding-left:0;padding-right:0;padding-bottom:0;}
section#navbar-top nav a.nav-link.active {color:#000000; border-bottom-color:#000000; font-weight:700;}
section#navbar-top nav a.nav-link:hover, a.nav-link:focus {color:#000000; border-bottom-color:#000000;}
@media (max-width:575.98px) { section#navbar-top a#logo.nav-link {font-size:21px; font-weight:500;} }
@media (min-width:576px) { section#navbar-top a#logo.nav-link {font-size:29px; font-weight:700;} }
@media (max-width:575.98px) { section#navbar-top nav {font-size:18px; font-weight:300;} }
@media (min-width:576px) { section#navbar-top nav {font-size:25px; font-weight:400;} }
@media (min-width:768px) { section#navbar-top nav {font-size:27px; font-weight:400;} }

section#navbar-bottom {color:#ffffff;background-color:#000000;font-weight:200;margin:0;padding:54px 0 60px 0;}

section#navbar-bottom nav {margin:0;padding:0;}
section#navbar-bottom nav a.nav-link {color:#ffffff;border-bottom:2px solid transparent;margin-left:16px;padding:0;}
section#navbar-bottom nav a.nav-link:hover, a.nav-link:focus {border-bottom-color:#ffffff;}
section#navbar-bottom nav a.nav-link.active {border-bottom-color:#ffffff;}
@media (max-width:575.98px) { section#navbar-bottom nav {font-size:22px;} }
@media (min-width:576px) { section#navbar-bottom nav {font-size:34px;} }
@media (min-width:768px) { section#navbar-bottom nav {font-size:23px;} }
@media (min-width:992px) { section#navbar-bottom nav {font-size:26px;} }
@media (min-width:1200px) { section#navbar-bottom nav {font-size:32px;} }
@media (min-width:1400px) { section#navbar-bottom nav {font-size:38px;} }

section#prefooter {color:#000000;background-color:#ffc107;text-align:center;margin:0;padding:38px 0 70px 0;}
@media (max-width:575.98px) { section#prefooter h1 {font-size:28px;} section#prefooter h2 {font-size:24px;} }
@media (min-width:576px) { section#prefooter h1 {font-size:40px;} section#prefooter h2 {font-size:32px;} }
@media (min-width:768px) { section#prefooter h1 {font-size:52px;} section#prefooter h2 {font-size:42px;} }
@media (min-width:992px) { section#prefooter h1 {font-size:70px;} section#prefooter h2 {font-size:56px;} }
@media (min-width:1200px) { section#prefooter h1 {font-size:80px;} }
@media (min-width:1400px) { section#prefooter h1 {font-size:90px;} }
